<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Esqueceu a Senha?</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/recSenha.css">
</head>
<body>
  <img src="/Logotipo.png" alt="Logo" class="logo">
  <div id="container">
    <div class="card">
      <div class="card-body">
        <form action="/verificarCodigo" method="POST"> <!-- Certifique-se de que o action está correto -->
          <div class="form-group">
              <label for="codigoDigitado">Código:</label>
              <input type="number" class="form-control" id="codigoDigitado" name="codigoDigitado" placeholder="Digite o código enviado" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block" style="background-color: #9F1416; border: none;">Verificar</button>
          <p>Um código de verificação foi enviado para o seu email.</p>
      </form>
      
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
