
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/estilosLogin.css">
  <link rel="icon" href="<%= '/logo.png' %>" type="image/png">
  <style>
    /* Estilo base */
    .card {
      padding: 1rem;
      height: auto;
    }
    
    .logo {
      width: 200px;
      display: block;
      margin: 20px auto;
    }

    .botao-login, .botao-cadastrar {
      width: 48%; /* largura padr찾o para alinhamento lado a lado em telas pequenas */
      margin-top: 10px;
    }

    /* Responsividade para dispositivos m처veis */
    @media (max-width: 768px) {
      .logo {
        width: 150px;
      }
      .card {
        margin: 0 1rem;
      }
      .opcoes {
        display: flex;
        justify-content: space-between; /* Posiciona os bot천es lado a lado */
        width: 100%;
      }
    }

    @media (max-width: 480px) {
      .logo {
        width: 120px;
      }
      .card {
        padding: 1rem 0.5rem;
      }
      .form-control {
        font-size: 14px;
      }
      .btn-primary {
        font-size: 14px;
        padding: 0.5rem 1rem; /* Reduz o tamanho do bot찾o Entrar */
      }
    }
  </style>
</head>
<body>
  <img src="/Logotipo.png" alt="Logo" class="logo">
  <div id="container">
    <div class="opcoes">
      <button class="botao-login btn btn-primary"> Login </button>
      <form action="/cadastro" method="GET" style="display: inline;">
        <button class="botao-cadastrar btn btn-secondary"> Cadastro </button>
      </form>  
    </div>
    <div class="card">
      <div class="card-body">
        <form action="/login" method="POST">
          <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF" required>
          </div>
          <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block" style="background-color: #9F1416; border: none;">Entrar</button>
        </form>
        <form action="/esqueci" method="GET">
          <p><button type="submit" class="botao-esqueci btn btn-link"> Esqueceu a senha </button></p>
        </form>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

