body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roxo {
    padding: 3.8rem;
    padding-bottom: 6.8rem;
    padding-left: 25rem;
    padding-right: 25rem;
    background: linear-gradient(0.40turn,#A6393B, #FF585B, #434343 ,#000);
}

.pg-voltar {
    position: absolute;
}

























@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
