body {
    display: flex; /* Habilita o flexbox no body */
    flex-direction: column; /* Coloca os elementos em uma coluna */
    min-height: 100vh; /* Assegura que o body ocupe toda a altura da viewport */
    justify-content: flex-start; /* Alinha o conteúdo ao topo */
    align-items: center; /* Centraliza horizontalmente */
    background-image: url("/fundo2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    margin-top: 2rem; /* Adiciona um pequeno espaçamento ao topo */
    align-self: center;
    height: 6rem; 
  }

  .card {
    height: 22rem;
    width: 30rem;
    margin-top: 4rem; /* Mantém espaço entre a logo e o card */
  }