/* Estilo da barra de navegação */

/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #831f1f;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}

.one {
  width: 80%;
  margin-left: 10%;
  background-color: black;
  height: 400px;
}

.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

.cabecalho{
    background-color: #831f1f;
    height: 4rem; 
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.notificacoes{
  position: relative;
  right: 90rem;
  width: 40px;
  height: 40px;
  left: -1cm;
}

.usuario{
  position: relative;
  left: 2rem;
}

.nome{
  font-weight: bold;
  color: white;
  position: relative;
  right: 4.5rem;
  
}

.container1{
  background-color: rgb(46, 241, 28);
  position: relative;
  top: 05rem;
  height: auto;
}

@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}

.foto-perfil {
    position: relative;
    left: 10cm;
    width: 5cm;
    top: 3cm;
    border-radius: 50%;
}

.nome-perfil {
    position: relative;
    left: 16cm;
    bottom: 2cm;
}

.email{
    position: relative;
    top: 6px;
}

.nome-email{
    position: relative;
    top: 10px;
}

.nome-cpf {
    position: relative;
    top: 1cm;
}

.card {
    position: relative;
    top: 5px;
}

.nome-endereco {
    position: relative;
    left: 9cm;
    bottom: 1.5cm;
}

.endereco {
    position: relative;
    top: 5px;
}

.nome-telefone {
    position: relative;
    bottom: 0.7cm;
    left: 9cm;
}

.container{
    border: 1px solid #000;
    position: relative;
    height: 7cm;
    width: 39cm;
    left: 8cm;
    top: 1cm;
    border-radius: 12px;
}

.nome-usario{
    position: relative;
    bottom: 20px;
}

.painel {
    position: relative;
    right: 9cm;
    bottom: 2cm;

}

.alterar {
    position: relative;
    left: 8cm;
    top: 1.5cm;
    color: #A43C3F;
}

.tesoureiro {
    position: relative;
    left: 9.5cm;
    top: 2.3cm;
}

.ponto {
    position: relative;
    top: 3px;
}

.coluna1 {
    position: relative;
    left: 10cm;
    top: 4cm;
    
    
}

.coluna2 {
    position: relative;
    left: 20cm;
    top: 39px;
}

.coluna3 {
    position: relative;
    left: 30cm;
    bottom: 73px;
}

.salvar{
    position: relative;
    left: 31cm;
    top: 0cm;
    background-color: #A43C3F;
    border: none;
    color: white;
    padding: 15px 2cm;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.barra-email {
    padding: 16px ;
    border-radius: 5px;
    text-decoration: none;
    text-align: left ;
    width: 400px;

}

.barra-cpf {
    padding: 16px; 
    border-radius: 5px;
    margin-left: 3cm;
    width: 400px;
}

.barra-telefone{
    position: relative;
    top: 2cm;
    border-radius: 5px;
    padding: 16px;
    width: 400px;
    
}

.barra-nome{
    position: relative;
    top: 2cm;
    padding: 16px;
    border-radius: 5px;
    margin-left: 3cm;
    width: 400px;
}


.container2 {
    border: 1px solid #000;
    position: relative;
    height: 10.5cm;
    width: 39cm;
    left: 8cm;
    top: 2cm;
    border-radius: 12px;
}

.painel2 {
    position: relative;
    right: 9cm;
    bottom: 2cm;
}

.barra-endereco {
    padding: 16px;
    border-radius: 5px;
    margin-left: 5cm;
    width: 400px;
}

.container4 {
  border: 1px solid #000000;
  width: 29.9cm;
  height: 24cm;
  position: relative;
  left: 10cm;
  top: 1cm;
}

.perfil {
  position: relative;
  right: 13cm;
}

.miless {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.box-shadow {
  position: relative;
  height: 905px;
  width: auto;
}