<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Página Inicial Administrador</title>
    <link rel="stylesheet" href="/estilo_administrador.css">
</head>
<body>
    <header class="cabecalho">
        <img class="notificacoes" src="/notificacoes.png" alt="Notificações">
        <img class="usuario" src="/user.png" alt="perfil">
    </header>

    <section class="containers">
    <div class="container1">
        <p class="orcamento-nome">Orçamentos</p>
        <p class="preco1">102</p>
        <img src="/orcamentos.png" alt="Imagem dos Serviços" class="orcamento-img">
        <div class="linha2"></div>
        <img src="/atualizar.png" class="atualizar">
        <p class="totalServicos"> Orçamentos abertos:</p>
    </div>
    
    <div class="container1">
        <p class="os-nome">OS</p>
        <p class="preco1">14</p>
        <img src="/os_colorida.png" alt="vendas" class="servicos-img">
        <div class="linha2"></div>
        <img src="/atualizar.png" class="atualizar">
        <p class="totalServicos"> Os abertas:</p>
    </div>
    
    <div class="container1">
        <p class="despesas-nome">Despesas</p>
        <p class="preco1">20</p>
        <img src="/aprovacao.png" alt="despesas" class="aprovacao-img">
        <div class="linha2"></div>
        <img src="/atualizar.png" class="atualizar">
        <p class="totalServicos"> Aguardando aprovação:</p>  
    </div>
    
    <div class="container1">
        <p class="saldo-diario-nome">Saldo diário</p>
        <p class="preco1">R$ 1222,00</p>
        <img src="/aprovado.png" alt="saldo" class="servicos-img">
        <div class="linha2"></div>
        <img src="/atualizar.png" class="atualizar">
        <p class="totalServicos"> Valor Arrecadado Hoje</p>
    </div>

    <div class="linha"><p class="historico-mov">ORÇAMENTOS ABERTOS</p></div>
    </section>

    <div class="linha3"><p class="historico-mov">OS ABERTOS</p></div>
    </section>

    <section class="containers2">
       
            <div class="container2">
                <p class="data"> 09/12/2004</p>
                <p class="nome2">Eduardo</p>
                <p class="assunto">Conserto de tela</p>
            </div>
        

        
            <div class="container3" style="background-color: #616A70;">
                <p class="data"> 12/01/2014</p>
                <p class="nome2">Nando</p>
                <p class="assunto">Venda de peças</p>
            </div>
        
    </section>

    <section class="sidebar">
        <div class="logo-details">
            <img src="/smartlogo.png" style="width: 310px; height: 310px; position: relative; right: 45px;">
        </div>
        <ul class="nav-links" style="margin-top: 40px;">
            <li>
                <div class="icon-link" style="padding-top: 20px;">
                <a href="/funcionarios">
                    <img src="/funcionarios.png" style="width: 55px; height: 48px; padding-left: 10px;">
                    <span class="link_name" style="position: relative; left: 20px;">Funcionarios</span>
                </a>
            </div>   
            </li>
            <li>
                <div class="icon-link" style="padding-top: 20px;">
                <a href="/clientes"> 
                    <img src="/clientes.png" style="width: 55px; height: 48px; padding-left: 10px;">
                    <span class="link_name" style="position: relative; left: 20px;">Clientes</span>
                </a>
            </div>   
            </li>
            <li>
                <div class="icon-link" style="padding-top: 20px;">
                    <a href="/produtos">
                        <img src="/produtos.png" style="width: 55px; height: 48px; padding-left: 10px;">
                        <span class="link_name" style="position: relative; left: 20px;">Produtos</span>
                    </a>
                </div>   
            </li>
            <li>
                <div class="icon-link" style="padding-top: 20px;">
                    <a href="/solicitacoes">
                        <img src="/solicitacao.png" style="width: 55px; height: 48px; padding-left: 10px;">
                        <span class="link_name" style="position: relative; left: 20px;">Solicitação</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="icon-link" style="padding-top: 20px;">
                    <a href="/usuarios">
                        <img src="/usuario.png" style="width: 55px; height: 48px; padding-left: 10px;">
                        <span class="link_name" style="position: relative; left: 20px;">Usuários</span>
                    </a>
                </div>   
            </li>
            <li>
                <div class="icon-link" style="padding-top: 20px;">
                    <a href="/orcamentos">
                        <img src="/relatorio_orcamento.png" style="width: 55px; height: 48px; padding-left: 10px;">
                        <span class="link_name" style="position: relative; left: 20px;">Relatório Orçamento</span>
                    </a>
                </div>   
            </li>
            <li>
                <div class="icon-link" style="padding-top: 20px;">
                    <a href="/ordemdeservicos">
                        <img src="/relatorio_os.png" style="width: 55px; height: 48px; padding-left: 10px;">
                        <span class="link_name" style="position: relative; left: 20px;">Relatório OS</span>
                    </a>
                </div>   
            </li>
            
        </ul>
    </section>
</body>
</html>